.logo {
  height: 100px;
}

.bg-royal-blue {
  background-color: #001e6b;
}

.jumbotron {
  background-color: #e8faff;
}

.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: black;
  background-color: white;
  animation: typing 2s steps(2) forwards, caret 1s infinite;
}
