<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron">
            <h1>
              Hi, I'm
              <div class="typing-container">
                <div class="typing">Nate</div>
              </div>
            </h1>
            <p>
              Development as a service -
              <a
                class="btn btn-primary"
                href="https://calendly.com/nathanyeung"
                target="_blank"
                >book a call with me</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
